@charset "UTF-8"

*{
  box-sizing: border-box;
}
html{
  font-size:16px;
  scroll-behavior: smooth;
}
body{
  font-family: "Hiragino Kaku Gothic ProN","源ノ明朝",sans-serif;
  padding-top: 80px;
}
a{
  color: unset;
  text-decoration: none;
}
img{
  width: 100%;
  max-width: 100%;
}
ul,li{
  list-style-type: none;
}
#container{
  width: 100%;
  margin:0 auto;
  background-color: #FFFDF8;
  text-align: left;
}
.common-sec{
  padding: 70px 8vw 120px 8vw;
  margin: 0 auto;
}
.section-ttl{
  position: relative;
  width: 100%;
  margin:0px auto 50px;
  font-size: 60px;
  font-family: "Cormorant Garamond";
  line-height: 1.2;
  color: #585858;
}
.subttl{
  font-size: 16px;
  font-family: Hiragino Kaku Gothic ProN;
  font-weight: 200;
  letter-spacing: 0.36em;
}
.section-cont{
  width:100%;
  margin:auto;
}
.section-ttl::after{
  display: block;
  content: "";
  background: url(../images/about-line.svg)no-repeat;
  background-size: contain;
  width: 102%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: -1%;
}
.scroll-in{
  transform: translateY(10px);
  transition: 1.5s;
  opacity: 0;
}
.scroll-in.show{
  transform: none;
  opacity: 1;
}
/* #header */
#header{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  top:0;
  left:0;
  display: flex;
  justify-content: space-between;
  align-items: center;  /* ロゴがずれているから再度画像取り込み必要 */
  padding:30px 40px;
  background-color: #fff;
}
.logo-link{
  display: flex;
  width: 20px;
}
.logo-name{
  padding:0px 0px 6px 3px;
  font-family: "Source Han Serif";
  font-size: 22px;
  letter-spacing: 0.06em;
  font-weight: 400;
  color: #585858;
  white-space: nowrap;
}
.menu-list{
  display: flex;
}
.menu-list-item{
  margin-right: 80px;
}
.menu-list-item a {
  position: relative;
}
.menu-list-item a::after{
  background-color: currentColor;
  bottom: -6px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scale(0,1);
  transform-origin: right top;
  transition: transform .3s;
  width: 100%;
}
.menu-list-item a:hover::after{
  transform-origin: left top;
  transform: scale(1,1);
}
.menu-list-item:last-of-type{
  margin-right: 0px;
}
/* footer */
#footer{
  padding: 10px 0 30px 0;
  background-color:#F0D7B4;
}
#copyright{
  width: 40%;
  margin: 0 auto;
  font-size: 12px;
  padding-bottom: 30px;
  color: #585858;
  text-align: center;
  border-top: 1px solid #333;
  padding: 10px;
}

/* #profile */
#profile{
  padding: 60px 8vw 100px 8vw;
}
#profile .section-ttl{
  animation: showTextUp 3s backwards;
}
#profile .section-cont{
  display: flex;
}
.section-cont{
  position: relative;
}
.profile-name{
  position: absolute;
  top:-12px;
  left: 8px;
  font-size: 3vw;
  font-family: "Source Han Serif";
  font-weight: 500;
  color: #585858;
  letter-spacing: 0.08em;
  animation: showTextLeft 3s 0.3s backwards;
}
.subname{
  font-size: 24px;
  font-family: "hiragino mincho pro";
  font-weight: 300;
  letter-spacing: 0.05em;
}
.profile-txt{
  width: 45vw;
  font-size: 17px;
  color: #585858;
  margin-left: 30px;
  line-height: 1.9em;
  animation: showTextRight 3s 0.5s backwards;
}
.profile-img{
  animation: showTextUp 2s 0.5s backwards;
}
@keyframes showTextRight{
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes showTextLeft{
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes showTextUp{
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* #skill */
#skill{
  background-color: #F8EFDA;
  padding-bottom: 100px;
}
.skill-list{
  display: flex;
  justify-content: space-between;
  padding: 0 40px 0;
}
.skill-list-item{
  width: 34vw;
  padding: 0 0 60px;
}
/* .skill-list-item img{
  width: 30vw;
} */
.skill-ttl{
  padding: 16px  0;
  font-size: 34px;
  color: #585858;
  text-align: center;
  transform: translateX(20px);
}
.skill-txt{
  font-size: 17px;
  color: #585858;
  margin-bottom: 24px;
  line-height: 1.6em; 
}
.work-image{
  border-radius: 12px;
}
.skill-name{
  text-align: center;
}
.scroll-in .skill-ttl{
  transform: translateX(-20px);
}
.scroll-in.show .skill-ttl{
  transform: none;
}

/* #career */
#career{
  margin: 0 auto;
  height: 100%;
}
.timeline{
  width: 82vw;
  margin: 0 auto;
}
.timeline li{
  position: relative;
  overflow: hidden;
}
.timeline-date{
  width: 100px;
  float: left;
  padding: 30px 0 30px 0;
  font-size: 18px;
  color: #585858;
}
.timeline-content{
  width: 83%;
  float: left;
  border-left: 2px #585858 solid;
  padding: 30px 0 50px 40px;
  box-sizing: border-box;
}
.timeline-content::before{
  content: '';
  width: 20px;
  height: 20px;
  background: #795B17;
  position: absolute;
  left:91.4px;
  top:30px;
  border-radius: 100%;
}
.timeline-content-ttl{
  padding-bottom: 10px;
  font-size: 24px;
  line-height: 1.4em;
}
.timeline-content-txt{
  font-size: 16px;
  line-height: 1.5em;
}
.career-sec-list-item:nth-of-type(2){
  transform: translateY(-30px);
  transition: 2s ease-in-out;
}
.scroll-in.show .career-sec-list-item:nth-of-type(2){
  transform: none;
}
.career-txt{
  padding: 0px 0px 20px 0px;
  line-height: 1.7em;
}

/* #strength */
#strength{
  background-color: #F8EFDA;
}
#strength .section-head{
  margin-top: 12px;
}
.strength-box{
  width: 70vw;
  height: 100%;
  padding: 0 10px 20px 0;
  background-color:#fff;
  border-radius: 8px;
  margin:0px auto 30px;
}
.strength-box:last-of-type{
  margin-bottom: 0px;
}
.strength-ttl{
  display: flex;
  margin:0 0 0 2vw;
}
.num{
  width: 3.4vw;
  margin:2vw 1vw 0 0;
}
.strength-ttl .ttl{
  font-size: 28px;
  color: #585858;
  margin:3vw 0 0 0;
}
.strength-txt{
  width: 59vw;
  font-size: 17px;
  color: #585858;
  line-height: 1.8em;
  margin: 10px 0 0 8vw;
}

.strength-box:first-of-type{
  transform: translateX(-30px);
  transition: 2s;
}
.strength-box:nth-of-type(2){
  transform: translateX(-30px);
  transition: 2s .5s;
}
.strength-box:nth-of-type(3){
  transform: translateX(-30px);
  transition: 2s .7s;
}
.strength-box:first-of-type.show,
.strength-box:nth-of-type(2).show,
.strength-box:nth-of-type(3).show{
  transform: none;
  opacity: 1;
}

.strength-box :first-of-type .strength-ttl{
  transform: translateY(-30px);
  transition: 2s;
}
.strength-box:nth-of-type(2) .strength-ttl{
  transform: translateY(-30px);
  transition: 2s .5s;
}
.strength-box:nth-of-type(3) .strength-ttl{
  transform: translate(-30px);
  transition: 2s .7s;
}
.strength-box:first-of-type.show .strength-ttl,
.strength-box:nth-of-type(2).show .strength-ttl,
.strength-box:nth-of-type(3).show .strength-ttl{
  transform: none;
  opacity: 1;
}

/* #hobby */
#hobby{
  padding-bottom: 100px;
}
#hobby .section-cont{
  display: flex;
}
.hobby-img{
  width: 30vw;
}
.hobby-img img{
  width: 14vw;
  padding: 20px;
}
.hobby-txt{
  width: 40vw;
  padding: 20px 9vw 0;
  line-height: 30px;
}
.hobby-img-block{
  display: flex;
}

/* #contact */
#contact{
  height: 18vw;
  background-color: #F0D7B4;
  font-size: 60px;
  text-align: center;
  padding: 20px 0px;
}
#contact .section-ttl{
  position: relative;
}
#contact .section-ttl::after{
  position: absolute;
  top: 100%;
  left: 42%;
  display: block;
  content: "";
  margin: 0 0 43vw 0;
  padding: 0 auto;
  width: 220px;
  height: 8px;
  background: url(../images/line-footer.png)no-repeat;
  background-size: cover;
}
#contact p{
  font-size: 18px;
}
.mail a{
  font-size: 40px;
  text-decoration: none;
}
.mail a:hover{
  text-decoration: underline;
}

.btn-top {
  position: fixed;
  top: unset;
  right: 5.55%;
  bottom: 30px;
  left: unset;
  width: 60px;
  height: 60px;
  padding: 14px 20px 19px;
  border-radius: 50%;
  background-color: #EFBD4E;
  color: #707070;
  cursor: pointer;
}
.btn-top:hover {
  background-color: #795B17;
}
.btn-top p {
  text-align: center;
  font-family: "Cormorant Garamond";
  font-weight: 700;
  font-style: italic;
  line-height: 1.33;
}
/* レスポンシブ対応 */

.pc-only {
  display: block;
}
.sp-only {
  display: none;
}
@media screen and (max-width: 1000px) {
  /* #profile */
.profile-name{
  position: absolute;
  top:8px;
  left: 8px;
  font-size: 4vw;
  font-family: "Source Han Serif";
  font-weight: 500;
  color: #585858;
  letter-spacing: 0.08em;
  animation: showTextLeft 3s 0.3s backwards;
}
.subname{
  font-size: 24px;
  font-family: "hiragino mincho pro";
  font-weight: 300;
  letter-spacing: 0.05em;
}
.profile-txt{
  width: 45vw;
  font-size: 16px;
  color: #585858;
  margin-left: 20px;
  line-height: 1.8em;
  animation: showTextRight 3s 0.5s backwards;
}
.profile-img{
  animation: showTextUp 2s 0.5s backwards;
}
/* #contact */
  #contact{
    height: 22vw;
    background-color: #F0D7B4;
    font-size: 40px;
    text-align: center;
    padding: 20px 0px;
  }
  #contact p{
    font-size: 16px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .pc-only {
      display: none;
  }
  .sp-only {
      display: block;
  }
  html{
    font-size:13px;
  }
  body{
    font-family: "Hiragino Kaku Gothic ProN","源ノ明朝",sans-serif;
    padding-top: 60px;
  }
  #container{
    width: 100%;
    margin:0 auto;
    background-color: #FFFDF8;
    text-align: left;
  }
  .common-sec{
    padding: 70px 8vw 80px 8vw;
  }
  .section-head {
    margin-bottom: 30px;
  }
  .section-ttl{
    width:100%;
    margin:0px auto;
    font-size: 7vw;
    text-align: center;font-size: 7vw;
    font-family: "Cormorant Garamond";
    text-align: left;
    line-height: 1.2;
    color: #585858;
  }
  .subttl{
    font-size: 14px;
    font-family: Hiragino Kaku Gothic ProN;
    font-weight: 200;
    letter-spacing: 0.02em;
  }
  .section-cont{
    width: 100%;
    margin:auto;
  }
  .section-ttl::after{
    display: block;
    content: "";
    margin: 0px auto;
    width: 100%;
    height: 8px;
    background: url(../images/about-line.svg)no-repeat;
    background-size: cover;
  }
  #contact .section-ttl::after{
    display: block;
    content: "";
    margin: 0px auto;
    width: 250px;
    height: 8px;
    background: url(../images/line-footer.png)no-repeat;
    background-size: cover;
  }
  .scroll-in{
    transform: translateY(10px);
    transition: 1.5s;
    opacity: 0;
  }
  .scroll-in.show{
    transform: none;
    opacity: 1;
  }
  /* #header */
  #header{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 10px;
  }
  .logo-link{
    display: flex;
    width: 30px;
  }
  .logo-name{
    font-family: "Cormorant Garamond";
    font-size: 19px;
    padding-bottom: 4px;
    color: #585858;
    white-space: nowrap;
  }
  .menu-list{
    display: flex;
    font-size: 17px;
  }
  .menu-list-item{
    margin-right: 26px;
  }
  .menu-list-item a {
    position: relative;
  }
  .menu-list-item a::after{
    background-color: currentColor;
    bottom: -6px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scale(0,1);
    transform-origin: right top;
    transition: transform .3s;
    width: 100%;
  }
  .menu-list-item a:hover::after{
    transform-origin: left top;
    transform: scale(1,1);
  }
  .menu-list-item:last-of-type{
    margin-right: 0px;
  }
    /* ハンバーガーメニュー */
    .header__nav {
      position: absolute;
      right: 1;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      transform: translateY(-120%);
      background-color:#F7EFE4;
      align-items: center;
      transition: ease .4s;
      overflow: visible;
      z-index: 2;
    }
    .nav-items {
      position: absolute;
      top: 26%;
      left: 0%;
      width: 100%;
      margin: auto;
      background: #F7EFE4;
      overflow-y: scroll;
      align-items: center;
    }
    .nav-items__item a {
      color: #795B17;
      width: 100%;
      display: block;
      text-align: center;
      font-size: 20px;
      padding: 22px 0px 22px;
      white-space: nowrap;
    }
    .nav-items__item img{
      width: 18px;
      padding:0 8px 0 0;
    }
    .header__hamburger {
      width: 48px;
    }
    .hamburger {
      background-color: transparent;
      border-color: transparent;
      z-index: 9999;
    }
    .hamburger span {
      width: 100%;
      height: 2px;
      background-color:#795B17;
      position: relative;
      transition: ease .4s;
      display: block;
    }
    .hamburger span:nth-child(1) {
      top: 0;
    }
    .hamburger span:nth-child(2) {
      margin: 8px 0;
    }
    .hamburger span:nth-child(3) {
      top: 0;
    }
    /* ハンバーガーメニュークリック後のスタイル */
    .header__nav.active {
      transform: translateX(0);
      z-index: 1000;
    }
    .hamburger.active span:nth-child(1) {
      top: 6px;
      transform: rotate(45deg);
      z-index: 1000;
    }
    .hamburger.active span:nth-child(2) {
      opacity: 0;
      z-index: 1000;
    }
    .hamburger.active span:nth-child(3) {
      top: -13px;
      transform: rotate(-45deg);
      z-index: 1000;
    } 
    /*ハンバーガーメニューが開いたら表示*/
      .active .black-bg {
        opacity: 0.3;
        visibility: visible;
      }
      .IsScrollAllowed {
        overflow: hidden
      }
  
  
  /* footer */
  #footer{
    padding: 4px 0;
    font-size: 10px;
    background-color:#F0D7B4;
  }
  #copyright{
    font-size: 9px;
    color: #585858;
    text-align: center;
  }
  
  /* #profile */
  #profile{
    padding: 60px 8vw 80px 8vw;
  }
  #profile .section-ttl{
    animation: showTextUp 3s backwards;
  }
  #profile .section-head{
    margin-bottom: 40px;
  }
  #profile .section-cont{
    display: block;
  }
  .section-cont{
    position: relative;
  }
  .profile-name{
    position: absolute;
    top:-16px;
    left: 8px;
    font-size: 6vw;
    font-family: "Source Han Serif";
    font-weight: 500;
    color: #585858;
    letter-spacing: 0.08em;
    line-height: 1.2em;
    animation: showTextLeft 3s 0.3s backwards;
  }
  .subname{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.05em;
  }
  .profile-txt{
    width: 92%;
    margin: auto;
    padding-top: 20px;
    font-size: 14px;
    color: #585858;
    line-height: 1.8em;
    animation: showTextRight 3s 0.5s backwards;
  }
  .profile-img{
    width: 90%;
    margin: auto;
    animation: showTextUp 2s 0.5s backwards;
  }
  @keyframes showTextRight{
    0% {
      transform: translateX(20px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  @keyframes showTextLeft{
    0% {
      transform: translateX(-20px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  @keyframes showTextUp{
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
  /* #skill */
  #skill{
    background-color: #F8EFDA;
    padding-bottom: 40px;
  }
  .skill-list{
    display: block;
    padding: 0;
  }
  .skill-list-item{
    width: 84%;
    padding: 0 0 40px;
    margin: auto;
    align-items: center;
  }
  .skill-ttl{
    padding: 14px  0;
    font-size: 30px;
    color: #585858;
    text-align: center;
    transform: translateX(20px);
  }
  .skill-txt{
    font-size: 16px;
    color: #585858;
    margin:0px 0px 10px 0px;
    text-align: center;
    line-height: 1.4em; 
  }
  .work-image{
    border-radius: 12px;
  }
  .skill-name{
    text-align: center;
    font-size: 13px;
  }
  .scroll-in .skill-ttl{
    transform: translateX(-20px);
  }
  .scroll-in.show .skill-ttl{
    transform: none;
  }
  
  /* #career */
  #career{
    margin: 0 auto;
    height: 100%;
  }
  .timeline{
    width: 83vw;
    margin: 0 auto;
  }
  .timeline li{
    /* position: relative; */
    overflow: hidden;
  }
  .timeline-date{
    width:60px;
    /* float: left; */
    padding: 28px 0 20px 0;
    font-size: 16px;
    color: #795B17;
  }
  .timeline-content{
    width: 82%;
    /* float: left; */
    border-left: none;
    padding: 22px 0 40px 20px;
  }
  .timeline-content::before{
    content: none;
  }
  .timeline-content-ttl{
    padding-bottom: 8px;
    font-size: 18px;
    line-height: 1.4em;
  }
  .timeline-content-txt{
    font-size: 13px;
    line-height: 1.5em;
  }
  .career-sec-list-item:nth-of-type(2){
    transform: translateY(-30px);
    transition: 2s ease-in-out;
  }
  .scroll-in.show .career-sec-list-item:nth-of-type(2){
    transform: none;
  }
  
  /* #strength */
  #strength{
    background-color: #F8EFDA;
  }
  #strength .section-head{
    margin-top: 12px;
  }
  .strength-box{
    width: 80vw;
    height: 100%;
    padding: 0 10px 20px 0;
    background-color:#fff;
    border-radius: 8px;
    margin:0px auto 30px;
  }
  .strength-box:last-of-type{
    margin-bottom: 0px;
  }
  .strength-ttl{
    display: flex;
  }
  .num{
    width: 5.4vw;
    margin:2vw 1vw 0 0;
  }
  .strength-ttl .ttl{
    font-size: 22px;
    color: #585858;
    margin:3vw 0 0 0;
  }
  .strength-txt{
    width: 68vw;
    font-size: 16px;
    color: #585858;
    line-height: 1.7em;
    margin: 16px 0 0 8vw;
  }
  
  .strength-box:first-of-type{
    transform: translateX(-30px);
    transition: 2s;
  }
  .strength-box:nth-of-type(2){
    transform: translateX(-30px);
    transition: 2s .5s;
  }
  .strength-box:nth-of-type(3){
    transform: translateX(-30px);
    transition: 2s .7s;
  }
  .strength-box:first-of-type.show,
  .strength-box:nth-of-type(2).show,
  .strength-box:nth-of-type(3).show{
    transform: none;
    opacity: 1;
  }
  
  .strength-box :first-of-type .strength-ttl{
    transform: translateY(-30px);
    transition: 2s;
  }
  .strength-box:nth-of-type(2) .strength-ttl{
    transform: translateY(-30px);
    transition: 2s .5s;
  }
  .strength-box:nth-of-type(3) .strength-ttl{
    transform: translate(-30px);
    transition: 2s .7s;
  }
  .strength-box:first-of-type.show .strength-ttl,
  .strength-box:nth-of-type(2).show .strength-ttl,
  .strength-box:nth-of-type(3).show .strength-ttl{
    transform: none;
    opacity: 1;
  }

  /* #hobby */
#hobby .section-cont{
  display: block;
  justify-content: space-between;
  align-items: center;
}
.hobby-img{
  width: 70vw;
  padding: 0 9vw 0;
}
.hobby-img img{
  width: 26vw;
  padding: 12px;
}
.hobby-txt{
  width: 70vw;
}
  
  /* #contact */
  #contact{
    height: 200px;
    background-color: #F0D7B4;
    font-size: 2vw;
    text-align: center;
    padding: 10px 0px;
  }
  #contact .section-ttl{
    text-align: center;
  }
  #contact .section-ttl::after{
    display: block;
    content: "";
    margin: 0px auto;
    width: 24vw;
    height: 3px;
    background: url(../images/line-footer.png)no-repeat;
    background-size: cover;
  }
  #contact p{
    font-size: 11px;
    margin: 20px 0px 8px 0px;
  }
  .mail a{
    font-size: 4.6vw;
    text-decoration: none;
  }
  .mail a:hover{
    text-decoration: underline;
  }
  
  .btn-top {
    position: fixed;
    top: unset;
    right: 5.55%;
    bottom: 20px;
    left: unset;
    width: 90px;
    height: 90px;
    padding: 0px;
    border-radius: 50%;
    background-color: #EFBD4E;
    color: #707070;
    cursor: pointer;
  }
  .btn-top img{
    width: 68%;
    padding: 10px 0px 2px 14px;
  }
  .btn-top:hover {
    background-color: #795B17;
  }
  .btn-top p {
    text-align: center;
    font-family: "Cormorant Garamond";
    font-weight: 600;
    font-style: italic;
    line-height: 1.23;
    font-size: 14px;
    margin-top: 1px;
  }
}



@media screen and (max-width: 500px) {
  /* #skill */
  #skill{
    background-color: #F8EFDA;
  }
  .skill-list{
    display: block;
  }
  .skill-list-item{
    width: 84%;
    padding: 0 0 40px;
    margin: auto;
    align-items: center;
  }
  .skill-ttl{
    padding: 14px  0;
    font-size: 20px;
    color: #585858;
    text-align: center;
    transform: translateX(20px);
  }
  .skill-txt{
    font-size: 13px;
    color: #585858;
    margin:0px 0px 10px 0px;
    text-align: center;
    line-height: 1.4em; 
  }
  .work-image{
    border-radius: 12px;
  }
  .skill-name{
    text-align: center;
    font-size: 11px;
  }

  /* #career */
  #career{
    margin: 0 auto;
    height: 100%;
    padding-bottom: 40px;
  }
  .timeline{
    width: 83vw;
    margin: 0 auto;
    padding-top: 20px;
  }
  .timeline li{
    /* position: relative; */
    overflow: hidden;
  }
  .timeline-date{
    width:60px;
    /* float: left; */
    padding: 0;
    font-size: 16px;
    color: #795B17;
  }
  .timeline-content{
    width: 100%;
    /* float: left; */
    border-left: none;
    padding: 10px 0 60px 0px;
  }
  .timeline-content::before{
    content: none;
  }
  /* .timeline-content:last-of-type{
    padding-bottom: 0px;
  } */
  /* .timeline-content-ttl{
    padding:8px 0 8px ;
    line-height: 1.4em;
  }
  .timeline-content-txt{
    line-height: 1.5em;
  } */
    /* #strength */
    #strength{
      background-color: #F8EFDA;
    }
    #strength .section-head{
      margin:12px 0 30px 20px;
    }
    .strength-box{
      width: 80vw;
      height: 100%;
      padding: 0 10px 20px 0;
      background-color:#fff;
      border-radius: 8px;
      margin:0px auto 30px;
    }
    .strength-box:last-of-type{
      margin-bottom: 0px;
    }
    .strength-ttl{
      display: flex;
      margin-left: 40px;
    }
    .num{
      width: 7vw;
      margin:2vw 2vw 0 0;
    }
    .strength-ttl .ttl{
      font-size: 20px;
      color: #585858;
      margin:4vw 0 0 0;
    }
    .strength-txt{
      width: 68vw;
      font-size: 14px;
      color: #585858;
      line-height: 1.7em;
      margin: 16px 0 0 8vw;
    }
}
